@font-face {
    font-family: 'FuturaStd-Book';
    src: url('~@/fonts/FuturaStd-Book.eot');
    src: url('~@/fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
        url('~@/fonts/FuturaStd-Book.woff2') format('woff2'),
        url('~@/fonts/FuturaStd-Book.woff') format('woff'),
        url('~@/fonts/FuturaStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStd-Heavy';
    src: url('~@/fonts/FuturaStd-Heavy.eot');
    src: url('~@/fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('~@/fonts/FuturaStd-Heavy.woff2') format('woff2'),
        url('~@/fonts/FuturaStd-Heavy.woff') format('woff'),
        url('~@/fonts/FuturaStd-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

